{% extends "__layout.html" %}

{% block content %}
<br>
<br>
<br>

<section class="container text-center">
    <div class="row mx-auto">
      <div class="col align-self-start">
        <img src="/static/Me_1.jpg" class="img" alt="Картинка не поддерживается браузером">
        <br> Фамилия И.О. в выпускном альбоме
      </div>
      <div class="col align-self-center">
        <p> Я, Фамилия Имя Отчество, родился 01 января 1950 года в г. Караганде. В месяце 1951 года поступил в школу ФБББВ УФЦ №01 города Караганды. Окончил школу в меяце 1952 года.</p>
        <p> В школьные годы участвовал в творческих мероприятиях. Имею удостоверение к знаку "Умник" и удостоверение о прохождении курсов "Умника". </p>
        <p> По окончании школы поступил в ФББББУ ТХ "Карагандийский какой-то что-то", в направление крутыша. </p>
      </div>
      <div class="col align-self-end">
        <img src="/static/Me_2.jpg" class="img" alt="Картинка не поддерживается браузером">
        <br> Фамилия И.О. На выступлении кого-то
      </div>
    </div>
  </div>
</section>
{% endblock %}