{% extends "__layout.html" %}

{% block content %}
<br>
<br>
<br>

<section class="container text-center">
    <div class="row justify-content-center align-items-center">
        <div class="col">
            <h1>Словарь</h1>
        </div>
    </div>
</section>

<section class="container text-left">
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <ol>
                <li>ДБЯ/ПБЯ (BBY/ABY) иногда называют ДЗВ4/ПЗВ4 (BSW4/ASW4), что означает «до/после событий фильма «Звёздные войны. Эпизод 4 — Новая надежда»».</li>
                <li>Медицинская капсула (англ. medical capsule) — вид репульсорных носилок, использовавшихся для транспортирования тяжелораненых существ.</li>
                <li>Сила (англ. the Force) — вездесущее, связующая энергетическое поле, пронизывавшее и связывавшее Галактику воедино.</li>
                <li>Джедай (англ. Jedi) — адепт светлой стороны Силы, служащий Ордену джедаев и использующий энергию Силы.</li>
                <li>Орден джедаев (англ. Jedi Order) — древняя духовно-рыцарская организация, объединенная принципами и взглядами на Силу. Джедаи были защитниками мира и справедливости в Галактической Республике и стали самой известной из всех группировок, связанных с Силой.</li>
                <li>Ситхи (англ. Sith) — орден существ, чувствительных к Силе и использовавших её Тёмную сторону чтобы добиться власти и могущества.</li>
                <li>Верховный канцлер (англ. Supreme Chancellor), кратко именуемый канцлером, также известный как Председатель Сената — титул главы государства и правительства, а также председателя Сената или президента Галактической Республики.</li>
                <li>Торговая федерация (англ. Trade Federation) ― влиятельный неймодианский торговый картель, существовавший в последние годы Старой Республики.</li>
                <li>Вотум недоверия (англ. Vote of No Confidence) — инструмент демократического снятия Верховного канцлера Галактической Республики с должности путём всеобщего голосования членов Сената.</li>
                <li>Дроид являлся роботом — механическим существом, часто снабжавшееся искусственным разумом.</li>
                <li>«Звезда Смерти II» (англ. Death Star II) — вторая боевая станция этого типа, построенная Галактической Империей.</li>
            </ol>
        </div>
        <div class="col-2">
            <img src="/static/Deth star.jpg" class="img" alt="Картинка не поддерживается браузером">
            <br> Звезда Смерти II
            <img src="/static/Med.webp" class="img" alt="Картинка не поддерживается браузером">
            <br> Медицинская капсула
        </div>
    </div>
</section>


{% endblock %}