{% extends "__layout.html" %}

{% block content %}
<br>
<br>
<br>

<hello class="container text-center">
    <div class="row justify-content-center align-items-center hello">
        <div class="col-6">
            <h1>Здравствуй, дорогой гость!</h1>
            <p>Вы попали на курсовую работу в виде сайта, посвящённого вселенной звёздных войн. Здесь вы можете немного больше узнать о вселенной, её персонажах и расшифровать непонятные "ПБЯ" и "ДБЯ".</p>
            <p>На страницах сайта указаны: Общая информация о звёздных войнах, информация обо мне, словарь, информация об основных персонажах оригинальной трилогии Звёздных войн.</p>
            <p>На страницах сайта есть кнопки, нажав на которые, вы можете перейти на фандом и узнать больше о персонаже или же в целом о вселенной.</p>
            <p>Надеюсь, что вам понравится моя работа и вы хотя бы чуть-чуть полюбите богатейшую вселенную Звёздных войн.</p>
            <span class="bc">Приятного чтения!</span>
        </div>
    </div>
</hello>

{% endblock %}