{% extends "__layout.html" %}

{% block content %}
<br>
<br>
<br>

<section class="container text-center">
    <div class="row mx-auto">
      <div class="col align-self-start">
        <img src="/static/Star wars 1.jpg" class="imgs" alt="Картинка не поддерживается браузером">
        <br> Грогу
      </div>
      <div class="col align-self-center">
        <p>«Звёздные во́йны» (англ. Star Wars, МФА: [stɑːɹ wɔːɹz]) — медиафраншиза в жанре эпическая космическая опера, включающая в себя 11 художественных фильмов (9 эпизодов основной саги, также известна как «Сага Скайуокеров», и 2 фильма «историй»), а также игровые и анимационные сериалы, мультфильмы, телефильмы, документaлки, веб-шоу, книги, комиксы, видеоигры, аттракционы, игрушки и прочие произведения, созданные в рамках единой фантастической вселенной «Звёздных войн», задуманной и реализованной американским режиссёром Джорджем Лукасом в конце 1970-х годов, позднее расширенной.</p>
        <p>В общем, "Звёздные войны" - это обширная вселенная, в которую входит множество разнообразных произведений культуры. "Звёздные войны" смотрят от мала до велика и это не просто так. Некоторых завораживают космические перелёты, пейзажи планет далёкой галактики, другим интересны политические интриги разворачивающиеся чуть ли не в каждом фильме, а третьим нравятся бои на световых мечах, масштабные столкновения солдат. Как вы уже поняли в этой вселенной можно найти всё, что вашей душе угодно.</p>
      </div>
      <div class="col align-self-end">
        <img src="/static/Star wars 2.jpg" class="imgs" alt="Картинка не поддерживается браузером">
        <br> Йода
      </div>
    </div>
  </div>
</section>

{% endblock %}